# Flags
VITE_ENABLE_AUTH_GUARD=true
VITE_ENABLE_DUMMY_RESPONSE_FALLBACK=false
VITE_ENABLE_DEV_MODE=true

# URLs
VITE_API_BASE_URL=https://volatil-be.exium.web.id
VITE_API_BASE_WMS_PROXY_URL=https://volatil-be.exium.web.id
VITE_IMG_STORAGE_BASE_URL=https://volatil-be.exium.web.id
VITE_FILE_STORAGE_BASE_URL=https://volatil-be.exium.web.id

# WFS Administrative Boundaries (AOI Resolver)
VITE_WFS_ADMIN_PROVINCE_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_PROVINSI&direct=true
VITE_WFS_ADMIN_KABUPATEN_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_KOTAKAB&direct=true
VITE_WFS_ADMIN_KECAMATAN_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_KECAMATAN&direct=true
VITE_WFS_ADMIN_DESA_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_BIG_LEVEL_DESA&direct=true

