# URLs
VITE_API_BASE_URL=https://9ac2a7d6-05ee-4c71-a067-b15fb595b85a.mock.pstmn.io
VITE_IMG_STORAGE_BASE_URL=
VITE_FILE_STORAGE_BASE_URL=

# WFS Administrative Boundaries (AOI Resolver)
VITE_WFS_ADMIN_PROVINCE_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_PROVINSI
VITE_WFS_ADMIN_KABUPATEN_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_KOTAKAB
VITE_WFS_ADMIN_KECAMATAN_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_KECAMATAN
VITE_WFS_ADMIN_DESA_URL=https://volatil-be.exium.web.id/api/proxy/wfs?layerId=wilayah-administrasi-indonesia:BATAS_ADMIN_BIG_LEVEL_DESA

# Flags
VITE_ENABLE_AUTH_GUARD=true
VITE_ENABLE_DEV_MODE=true
